<section class="about_game">
  <div class="container">
    <h2 class="about_game_title">About the Game</h2>
    <div class="text_container">
      <p class="text_content">
        Welcome to the exhilarating world of Super Flash Speed Hero, where you
        take on the role of a legendary speedster, battling ruthless criminals
        and extremist threats in an action-packed
        <span class="ellipsis">...<br /></span> open-world adventure. If you've
        ever dreamed of harnessing the incredible power of super speed to fight
        crime and bring justice to the city, this game is your ultimate
        playground.
      </p>
      <button class="toggle_btn" >more</button>
    </div>
    <div class="text_container end">
      <p class="text_content">
        In Super Flash Speed Hero, you will embark on high-speed rescue
        missions, racing through the city to protect innocent civilians from the
        clutches of dangerous<span class="ellipsis">...<br /></span>mobsters,
        gangsters, and an underground criminal syndicate. With lightning-fast
        reflexes and extraordinary abilities, you must outmaneuver your enemies,
        deliver powerful strikes, and restore peace to a city under siege.
      </p>
      <button class="toggle_btn" >more</button>
    </div>
  </div>
</section>
