<section class="benefits">
  <div class="container">
    <h2>Benefits</h2>
    <div class="swiper benefits-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source srcset="img/icon1.webp" type="image/webp">
            <img src="img/icon1.png" alt="Super Speed Combat">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="img/icon2.webp" type="image/webp">
            <img src="img/icon2.png" alt="Open-World Adventure">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="img/icon3.webp" type="image/webp">
            <img src="img/icon3.png" alt="Heroic Abilities">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="img/icon4.webp" type="image/webp">
            <img src="img/icon4.png" alt="Engaging Storyline">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="img/icon5.webp" type="image/webp">
            <img src="img/icon5.png" alt="Customization">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="img/icon6.webp" type="image/webp">
            <img src="img/icon6.png" alt="Dynamic Missions">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="img/icon7.webp" type="image/webp">
            <img src="img/icon7.png" alt="Realistic Graphics">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="img/icon8.webp" type="image/webp">
            <img src="img/icon8.png" alt="Multiplayer Mode">
          </picture>
        </div>
      </div>

      <div class="benefits-slider-button-next"></div>
      <div class="benefits-slider-button-prev"></div>

      <div class="benefits-slider-pagination"></div>
    </div>

</section>
