<section class="benefits" id="benefits">
  <div class="container benefits__container">
    <h2 class="benefits__title">Benefits</h2>

    <div class="benefits__slider swiper">
      <ul class="benefits__wrapper swiper-wrapper">
        <li class="benefits__slide swiper-slide">
          <p class="benefits__text">Super Speed Combat</p>
          <picture class="benefits__img">
            <source srcset="img/icon1.webp" type="image/webp" />
            <img src="img/icon1.png" alt="Super Speed Combat" />
          </picture>
        </li>
        <li class="benefits__slide swiper-slide">
          <p class="benefits__text">Open-World Adventure</p>
          <picture class="benefits__img">
            <source srcset="img/icon2.webp" type="image/webp" />
            <img src="img/icon2.png" alt="Open-World Adventure" />
          </picture>
        </li>
        <li class="benefits__slide swiper-slide">
          <p class="benefits__text">Heroic Abilities</p>
          <picture class="benefits__img">
            <source srcset="img/icon3.webp" type="image/webp" />
            <img src="img/icon3.png" alt="Heroic Abilities" />
          </picture>
        </li>
        <li class="benefits__slide swiper-slide">
          <p class="benefits__text">Engaging Storyline</p>
          <picture class="benefits__img">
            <source srcset="img/icon4.webp" type="image/webp" />
            <img src="img/icon4.png" alt="Engaging Storyline" />
          </picture>
        </li>
        <li class="benefits__slide swiper-slide">
          <p class="benefits__text">Customization</p>
          <picture class="benefits__img">
            <source srcset="img/icon5.webp" type="image/webp" />
            <img src="img/icon5.png" alt="Customization" />
          </picture>
        </li>
        <li class="benefits__slide swiper-slide">
          <p class="benefits__text">Dynamic Missions</p>
          <picture class="benefits__img">
            <source srcset="img/icon6.webp" type="image/webp" />
            <img src="img/icon6.png" alt="Dynamic Missions" />
          </picture>
        </li>
        <li class="benefits__slide swiper-slide">
          <p class="benefits__text">Realistic Graphics</p>
          <picture class="benefits__img">
            <source srcset="img/icon7.webp" type="image/webp" />
            <img src="img/icon7.png" alt="Realistic Graphics" />
          </picture>
        </li>
        <li class="benefits__slide swiper-slide">
          <p class="benefits__text">Multiplayer Mode</p>
          <picture class="benefits__img">
            <source srcset="img/icon8.webp" type="image/webp" />
            <img src="img/icon8.png" alt="Multiplayer Mode" />
          </picture>
        </li>
      </ul>

      <div class="benefits__controlWrapper">
        <div class="benefits__button-prev">
          <!-- <div class="benefits__button-prev swiper-button-prev"> -->
          <img src="img/arrow_left.png" alt="arrow left" />
        </div>

        <div class="benefits__pagination"></div>
        <!-- <div class="benefits__pagination swiper-pagination"></div> -->

        <div class="benefits__button-next">
          <!-- <div class="benefits__button-next swiper-button-next"> -->
          <img src="img/arrow_right.png" alt="arrow right" />
        </div>
      </div>
    </div>
  </div>
</section>
