<section class="gallery" id="gallery">
  <div
    class="container gallery__container"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
  >
    <h2 class="gallery__title">Gallery</h2>

    <div class="gallery__slider swiper">
      <ul class="gallery__wrapper swiper-wrapper">
        <li class="gallery__slide swiper-slide">
          <picture class="gallery__img">
            <source
              srcset="img/Flux_Dev_Super_flash_speed_hero_Super_Spee_3.webp"
              type="image/webp"
            />
            <img
              src="img/Flux_Dev_Super_flash_speed_hero_Super_Spee_3.jpg"
              alt="Superhero in a blue suit"
            />
          </picture>
        </li>
        <li class="gallery__slide swiper-slide">
          <picture class="gallery__img">
            <source
              srcset="img/Flux_Dev_Super_flash_speed_hero_Super_Spee_2_1.webp"
              type="image/webp"
            />
            <img
              src="img/Flux_Dev_Super_flash_speed_hero_Super_Spee_2_1.jpg"
              alt="Superhero with lightning in his hand"
            />
          </picture>
        </li>
        <li class="gallery__slide swiper-slide">
          <picture class="gallery__img">
            <source
              srcset="img/Flux_Dev_pgina_Super_flash_speed_hero_Super_1.webp"
              type="image/webp"
            />
            <img
              src="img/Flux_Dev_pgina_Super_flash_speed_hero_Super_1.jpg"
              alt="Superhero running down the street"
            />
          </picture>
        </li>
        <li class="gallery__slide swiper-slide">
          <picture class="gallery__img">
            <source
              srcset="img/Flux_Dev_Super_flash_speed_hero_Super_Spee_2.webp"
              type="image/webp"
            />
            <img
              src="img/Flux_Dev_Super_flash_speed_hero_Super_Spee_2.jpg"
              alt="Superhero with lightning running down the street"
            />
          </picture>
        </li>
        <li class="gallery__slide swiper-slide">
          <picture class="gallery__img">
            <source
              srcset="img/Flux_Dev_Super_flash_speed_hero_Super_Spee_0.webp"
              type="image/webp"
            />
            <img
              src="img/Flux_Dev_Super_flash_speed_hero_Super_Spee_0.jpg"
              alt="Superhero with lightning is looking at you"
            />
          </picture>
        </li>
        <li class="gallery__slide swiper-slide">
          <picture class="gallery__img">
            <source
              srcset="img/Flux_Dev_Super_flash_speed_hero_Super_Spee_1.webp"
              type="image/webp"
            />
            <img
              src="img/Flux_Dev_Super_flash_speed_hero_Super_Spee_1.jpg"
              alt="Superhero dodges bullets"
            />
          </picture>
        </li>
      </ul>

      <div class="gallery__controlWrapper">
        <div class="gallery__button-prev">
          <img src="img/arrow_left.png" alt="arrow left" />
        </div>

        <div class="gallery__pagination"></div>

        <div class="gallery__button-next">
          <img src="img/arrow_right.png" alt="arrow right" />
        </div>
      </div>
    </div>
  </div>
</section>
