<header class="header">
  <div class="container header__container">
    <a href="index.html" class="header__link">
      <picture>
        <source
          srcset="img/logo500xp.webp 1x, img/logo500xp_2x.webp 2x"
          type="image/webp"
        />
        <img
          src="img/vlogo500xp.jpg"
          alt="logo"
          class="header__logo"
          width="98"
          height="98"
        />
      </picture>
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#hero" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#benefits" class="nav__link">Benefits</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">About</a>
        </li>
        <li class="nav__item">
          <a href="#gallery" class="nav__link">Gallery</a>
        </li>
        <li class="nav__item">
          <a href="#faq" class="nav__link">FAQ</a>
        </li>
      </ul>
    </nav>

    <a
      href="https://play.google.com/store/apps/details?id=com.byteboxgamers.fighting.city.hero.superhero.extreme.ninja&hl=en&gl=us"
      target="_blank"
      class="header__downloadBtn"
      >Download</a
    >

    <button class="burger__btn burger__open">
      <img
        src="img/menu.png"
        class="burger__menuIcon"
        alt="menu icon"
        width="44"
        height="44"
      />
    </button>

    <div class="burger__wrapper">
      <button class="burger__btn burger__close">
        <img
          src="img/cross.png"
          class="burger__closeIcon"
          alt="cross icon"
          width="44"
          height="44"
        />
      </button>

      <ul class="burger__menu">
        <li class="burger__item">
          <a class="burger__link nav__link" href="#hero">Home</a>
        </li>
        <li class="burger__item">
          <a class="burger__link nav__link" href="#benefits">Benefits</a>
        </li>
        <li class="burger__item">
          <a class="burger__link nav__link" href="#about">About</a>
        </li>
        <li class="burger__item">
          <a class="burger__link nav__link" href="#gallery">Gallery</a>
        </li>
        <li class="burger__item">
          <a class="burger__link nav__link" href="#faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="overlay"></div>
