<section class="hero" id="hero">
  <div class="container hero-container">
    <h1 class="hero_title scale-up-center" >Super Flash Speed Hero</h1>
    <h2 class="hero_subtitle">Lightning Fast, Heroic Might!</h2>
    <picture>
      <source
        srcset="img/hero_desk.webp 1x, img/hero_desk_2x.webp 2x"
        type="image/webp"
        media="(min-width: 1200px)"
      />
      <source
        srcset="img/hero_mob.webp 1x, img/hero_mob_2x.webp 2x"
        type="image/webp"
      />

      <img
        src="img/hero_mob.png"
        srcset="img/hero_desk.png 1200w"
        sizes="(max-width: 1199px) 320px, 1200px"
        alt="men"
        class="hero-image"
        width="320"
        height="240"
      />
    </picture>
    <a
      href="https://play.google.com/store/apps/details?id=com.byteboxgamers.fighting.city.hero.superhero.extreme.ninja&hl=en&gl=us"
      class="hero_google_link"
      target="_blank"
    >
      <img src="img/google_desk.png" alt="google" class="hero_google" />
    </a>
    <div id="cookie_banner" class="cookie_banner hide">
      <p>
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
      <div class="cookie_buttons">
        <button id="accept_cookies" class="cookie_btn accept">
          ACCEPT COOKIES
        </button>
        <button id="decline_cookies" class="cookie_btn decline">
          DECLINE COOKIES
        </button>
      </div>
    </div>
  </div>
</section>
