<section class="hero">
  <div class="container hero-container">
    <h1 class="hero_title">Super Flash Speed Hero</h1>
    <h2 class="hero_subtitle">Lightning Fast, Heroic Might!</h2>
    <picture>
      <source
        srcset="img/hero_desk.webp 1x, img/hero_desk_2x.webp 2x"
        type="image/webp"
        media="(min-width: 1200px)"
      />
      <source
        srcset="img/hero_mob.webp 1x, img/hero_mob_2x.webp 2x"
        type="image/webp"
      />

      <img
        src="img/hero_mob.png"
        srcset="img/hero_desk.png 1200w"
        alt="men"
        class="hero-image"
        width="320"
        height="240"
      />
    </picture>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam maxime
    vitae reprehenderit! Alias quasi nulla beatae, voluptates ab est possimus
    nemo ex ipsam doloribus laboriosam excepturi optio consequuntur ullam non
    pariatur placeat ratione eligendi sed architecto aut distinctio! Corrupti
    commodi quis ullam dolorem atque autem dolores sunt ipsum dolorum veritatis.
    Impedit illum ipsa ducimus aperiam, voluptates aspernatur alias temporibus
    eos ex, quod iure saepe perspiciatis vero perferendis eius odit eveniet
    consequatur? Harum eum ipsa cupiditate ex quisquam quidem ducimus velit
    placeat nulla explicabo repellat minima soluta, saepe neque, excepturi
    nesciunt sequi odit quaerat reiciendis perferendis suscipit a labore ullam!
    Ea rem assumenda, vero in voluptatibus recusandae sapiente maxime enim
    deserunt delectus eum veniam iure, ut, aliquid quibusdam saepe obcaecati
    officiis tempore? Est, hic sapiente repellendus excepturi aut blanditiis
    esse error saepe, provident atque optio, suscipit ducimus dolorem id velit
    odio maxime ab consectetur eum. Dolorem voluptatibus impedit maiores
    consectetur vel! Voluptatibus inventore nihil laborum non tenetur error nam
    alias quod doloremque doloribus dolorem deleniti veniam adipisci saepe
    officia odit perferendis id cupiditate provident, rem molestiae ut vero!
    Enim, optio ipsum itaque esse, molestias inventore pariatur consectetur,
    adipisci corrupti obcaecati ea sint beatae dignissimos quibusdam! Autem
    doloribus, nesciunt iusto molestiae omnis ea, laborum expedita qui inventore
    voluptatum placeat. Tempore quibusdam mollitia officia et eum nostrum magni
    molestias molestiae. Maiores dolor ab, harum eos enim magni tempora! Modi
    architecto, sapiente voluptate laborum assumenda dolorem odio nobis
    molestias ipsum atque et id deleniti, quo, repudiandae amet obcaecati magni.
    Sunt rerum magnam iste, voluptatibus consequuntur repellat ea libero ipsa
    maxime, suscipit, soluta iusto sequi cumque veritatis voluptate ipsam?
    Aliquam omnis quod possimus blanditiis, magni inventore minima hic illum,
    placeat rem, ducimus error facere dolor tenetur ipsa. Amet, assumenda
    molestias. Accusantium cumque voluptatem nam sint, nihil, aliquam amet vero
    dolorum commodi sed at facilis excepturi pariatur laboriosam ipsam deserunt
    fuga quia nobis soluta deleniti libero saepe rem eaque doloremque! Quae
    repudiandae perferendis corrupti similique. Maxime vero animi eos aliquam
    culpa officia enim magni odio perferendis soluta, asperiores laboriosam, rem
    neque! Iste quod deleniti quia eligendi, obcaecati praesentium laborum,
    molestiae quam nesciunt ratione earum, ipsum possimus dicta asperiores
    libero voluptatibus debitis aliquid consequuntur temporibus cupiditate
    ducimus quisquam et quis. Saepe, fugiat temporibus ipsa dignissimos
    assumenda aspernatur. Deserunt perferendis pariatur ipsum, officia
    cupiditate eos cumque sed beatae laudantium quibusdam quasi quo facere optio
    blanditiis vel hic expedita velit voluptas quaerat. Odio est omnis quasi
    laborum nam voluptatum porro accusamus temporibus dolorem. Consequatur
    officia rem, obcaecati soluta, quo, cumque atque debitis officiis fugit
    optio id autem quis fuga nesciunt ducimus. Neque quae accusantium repellat
    vel quam velit temporibus nam fugiat distinctio non, excepturi aperiam
    ratione provident voluptas error mollitia at ex quisquam eaque consequuntur
    in sint tempore maxime. Ea, molestiae porro labore perspiciatis aliquam nam?
    Illum aspernatur, quas rerum, voluptatibus, culpa reiciendis nulla iusto a
    ipsum nemo ipsa! Tempore, eligendi quis ipsam commodi earum eveniet eius
    neque, labore ducimus et delectus nemo quos consequuntur saepe iste esse.
    Placeat minima aliquid deleniti at molestiae reiciendis architecto beatae
    sint similique commodi eaque quasi ipsum dolor ipsam enim sunt non facilis
    repudiandae, adipisci voluptates, illo asperiores! Libero qui et,
    reprehenderit neque voluptate praesentium rerum, sit eius iste veniam rem
    minus, aperiam soluta repellendus! Sunt sit totam corporis id repellendus
    quibusdam aliquid, nisi, cumque et aliquam velit facere autem, enim eum
    doloremque. Natus sit, sint veniam nemo unde expedita nobis aut commodi
    error aliquid corporis delectus vero dicta eum quisquam, aperiam suscipit
    soluta beatae velit ut non provident dolor voluptate qui? Temporibus
    adipisci maxime facere necessitatibus doloribus. Modi, ratione ipsa est
    mollitia eveniet earum praesentium inventore esse tenetur. Doloremque nobis
    eaque dolorum quidem aspernatur dolore excepturi ex aperiam soluta fugiat,
    praesentium fugit quasi labore voluptatem quos provident nostrum, delectus
    placeat iusto! Ipsam hic commodi cumque eos libero illo. Obcaecati fugit
    consequatur esse corrupti. Sequi, dolores. Cupiditate distinctio illum aut
    obcaecati molestiae veritatis vel laboriosam doloremque repellendus unde
    iste porro pariatur, optio odio dolores. Quam aliquam quas labore doloribus
    atque neque consequatur similique tenetur ratione distinctio facilis
    architecto dolorum quaerat accusantium totam quidem incidunt eos adipisci
    modi, laudantium, cumque saepe. Amet modi, fugiat illo, ad culpa dolorem
    quibusdam suscipit consequatur perspiciatis, eveniet explicabo sit minus
    distinctio quasi earum odit non eaque similique tenetur! Deleniti, aliquam
    praesentium? Quisquam voluptatum odit dicta fuga unde repudiandae quas id
    numquam modi amet nihil, maiores iure? Quos quasi harum, deserunt
    voluptatibus tempore voluptatum ipsam quas reiciendis. Ipsum non qui iste,
    consequuntur iusto optio? Ullam officiis eaque necessitatibus dolorem alias
    nostrum maxime, distinctio suscipit reiciendis laboriosam. Ullam omnis nihil
    porro aliquam sit tempora cumque laboriosam temporibus nulla asperiores
    magnam id hic tenetur laborum labore iusto, tempore cupiditate iste, error
    commodi blanditiis inventore pariatur quod dolorem. Vero nostrum asperiores
    quos quasi enim ducimus dolor officia, iste tenetur expedita maiores tempora
    sunt, iusto cum, ipsa numquam pariatur voluptas. Quia, nulla. Architecto
    blanditiis asperiores rerum, deleniti dolores itaque quibusdam inventore
    voluptas vero mollitia maxime eius in ipsa veritatis totam quam voluptatum
    saepe eos possimus cum minus? Nemo dicta repudiandae necessitatibus est sit
    quam sunt quaerat autem sapiente! Sit voluptate suscipit laboriosam quas
    fugiat neque nesciunt deserunt aliquam magnam minus! Voluptate eum omnis
    ipsa labore accusamus necessitatibus quam consectetur sit quibusdam commodi!
    Iure reiciendis repellat, obcaecati corporis unde dolorum excepturi optio
    magni perferendis? Cupiditate sint et reprehenderit perspiciatis dolorem
    nobis quod assumenda est libero nostrum ea blanditiis ducimus error laborum
    facilis, doloribus veritatis veniam temporibus? Est hic omnis expedita a
    possimus quasi ipsa totam repellendus suscipit optio beatae aperiam
    doloribus, ullam at rem explicabo unde maiores. Fugit quo excepturi,
    exercitationem voluptas esse laboriosam eum? Consequatur distinctio
    doloremque laboriosam molestias fuga in vel quis possimus maxime quia dolore
    porro tenetur sit, fugiat, et deserunt neque libero dolorum quo est esse nam
    consectetur? Hic, vitae. Sequi fugit nam nihil unde aperiam facere, magnam
    animi quos velit excepturi quae eligendi est voluptatem eius harum sint
    dolor soluta minus dolores aspernatur alias et blanditiis. Nisi distinctio
    vel iure eum error blanditiis ipsum aperiam mollitia? Ut dolores, iusto nisi
    id veritatis natus explicabo earum excepturi saepe nam aliquid?
  </div>
</section>
