<section class="uniqueness">
  <div class="container">
    <h2 class="about_game_title">Our Uniqueness</h2>
    <div class="text_container">
      <p class="text_content js_text_content">
        Welcome to the exhilarating world of Super Flash Speed Hero, where you
        take on the role of a legendary speedster, battling ruthless criminals
        and extremist threats in an action-packed
        <span class="ellipsis js_ellipsis">...<br /></span> open-world adventure. If you've
        ever dreamed of harnessing the incredible power of super speed to fight
        crime and bring justice to the city, this game is your ultimate
        playground.
      </p>
      <button class="toggle_btn js_toggle_btn">more</button>
    </div>
  </div>
</section>
