.header {
  position: fixed;
  top: 24px;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color $_transition, backdrop-filter $_transition;

  @include media(desktop) {
    top: 39px;
  }

  &.scrolled {
    background-color: rgba(158, 187, 255, 0.2);
    backdrop-filter: blur(10px);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 58px;
    height: 56px;
    position: relative;

    @include media(desktop) {
      height: 98px;
    }
  }

  &__link {
    width: 56px;
    height: 56px;
    border-radius: 20px;
    overflow: hidden;

    @include media(desktop) {
      width: 98px;
      height: 98px;
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__downloadBtn {
    display: none;
    border: 1px solid $_white;
    border-radius: 23px;
    padding: 12px 20px;
    width: 192px;
    height: 68px;

    font-weight: 400;
    font-size: 32px;
    color: $_white;

    @include media(desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.nav {
  display: none;

  @include media(desktop) {
    display: flex;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 714px;
    height: 44px;
  }

  &__link {
    font-weight: 400;
    font-size: 32px;
    color: $_white;
  }
}

.burger {
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  &__open {
    width: 44px;
    height: 44px;
    @include media(desktop) {
      display: none;
    }
  }

  &__menuIcon {
    fill: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: scale(0);
    transition: transform $_transition, opacity $_transition,
      visibility $_transition;
    opacity: 0;
    visibility: hidden;
    top: -24px;
    right: 0;
    z-index: 99;
    width: 224px;
    padding: 72px 0;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(46, 54, 78, 0.8);
    pointer-events: all;

    &.showMenu {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }

    @include media(desktop) {
      display: none;
    }
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 24px;
    width: 36px;
    height: 36px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 52px;
    border-bottom: 1px solid rgba(213, 213, 227, 0.27);
  }

  &__link {
    font-weight: 400;
    font-size: 32px;
    color: $_white;
  }
}

.is-hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 98;
  display: none;

  &.is-visible {
    display: block;
  }
}

.no-scroll {
  overflow: hidden;
  pointer-events: none;
}
