.header {
  position: fixed;
  top: 24px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color $_transition, backdrop-filter $_transition;

  @include media(desktop) {
    top: 40px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 272px;
    height: 76px;
    padding: 10px 12px;
    border-radius: 20px;
    position: relative;

    @include media(desktop) {
      width: 1120px;
      height: 122px;
      padding: 12px 20px;
      border-radius: 28px;
    }

    &.scrolled {
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      background: rgba(99, 108, 135, 0.56);
    }
  }

  &__link {
    width: 56px;
    height: 56px;
    border-radius: 20px;
    overflow: hidden;

    @include media(desktop) {
      width: 98px;
      height: 98px;
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__downloadBtn {
    display: none;
    border: 1px solid $_white;
    border-radius: 23px;
    padding: 12px 20px;
    width: 192px;
    height: 68px;

    font-weight: 400;
    font-size: 32px;
    color: $_white;
    transition: color $_transition, border $_transition;

    @include media(desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__downloadBtn:hover,
  &___downloadBtn:focus {
    color: $_blue_clicked;
    border: 1px solid $_blue_clicked;
  }
}

.nav {
  display: none;

  @include media(desktop) {
    display: flex;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 714px;
    height: 44px;
  }

  &__link {
    font-weight: 400;
    font-size: 32px;
    color: $_white;
    transition: color $_transition;
  }

  &__link:hover,
  &__link:focus {
    color: $_blue_clicked;
  }
}

.burger {
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  &__open {
    width: 44px;
    height: 44px;

    @include media(desktop) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: scale(0);
    transition: transform $_transition, opacity $_transition,
      visibility $_transition;
    opacity: 0;
    visibility: hidden;
    top: 0;
    right: 0;
    z-index: 99;
    width: 200px;
    padding: 72px 0;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(99, 108, 135, 0.56);
    pointer-events: none;

    &.showMenu {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    @include media(desktop) {
      display: none;
    }
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 12px;
    width: 44px;
    height: 44px;
  }

  &____closeIcon {
    width: 100%;
    height: 100%;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 52px;
    border-bottom: 1px solid rgba(213, 213, 227, 0.27);
  }

  &__link {
    font-weight: 400;
    font-size: 32px;
    color: $_white;
    transition: color $_transition;
  }

  &__link:hover,
  &__link:focus {
    color: $_blue_clicked;
  }
}

.is-hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 98;
  display: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  &.is-visible {
    display: block;

    @include media(desktop) {
      display: none;
    }
  }
}

.no-scroll {
  overflow: hidden;
  pointer-events: none;

  @include media(desktop) {
    overflow: auto;
    pointer-events: all;
  }
}
